doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-default
          .container
            .navbar-header
              a.navbar-brand(href='#') PunchIN
            ul.nav.navbar-nav
              li
                a(href='/puncher').green Start Punching!
              li
                a(href='/punch').green Add Manually
              li
                a(href='/punches') See Punches
            ul.nav.navbar-nav.navbar-right
              if (!user)
                li
                  a(href="/login") Login
                li
                  a(href="/register") Register
              if (user)
                li
                  a(href="#") You are currently logged in as <b>#{user.username}</b>
                li
                  a(href="/logout") Logout
        
        .container
            block content

        script(src='/javascripts/global.js')
