extends layout

block content
    if(punch.in)
        .jumbotron
            h2.green You are Punched IN
            h3
                span#time-counter(data-current="#{now}", data-date="#{punch.in.getTime()}") 
    else
        .jumbotron
            h2.red You are Punched OUT

    form(role='form', action="/puncher",method="post", style='max-width: 300px;')
      if punch.in
        input(type='hidden', name="punchin", value="false")
      else
        input(type='hidden', name="punchin", value="true")

      if(!punch.in)
        button.btn.btn-default.green(type='submit') Punch IN
      else
        button.btn.btn-default.red(type='submit') Punch OUT
